table{
    color: #fff;
    text-align: center;
    border-collapse: collapse;
    font: normal 3em Arial, Helvetica, sans-serif; 
}

tr{
    height: 16.02vh; 
    background-color: black;
}

td{
    width: 25vw;
    border: 1px solid yellow;
}

#inputBox{
    background-color: #434343;
    text-align: right;
    width: 100%;
    font-size: 2em;
    color: #fff;
    border: 0;
}

.digitButton{
    background-color: rgb(36, 12, 65);
}

.operatorButton{
    background-color: #000000;
}

.ACButton{
    background-color: rgba(178, 192, 28, 0.9);
}